<div id="proxyauth_options">
  <p>
    <label><%= l(:proxyauth_uri) %></label>
    <%= text_field_tag 'settings[tenant_uri]', @settings[:tenant_uri], size: 40 %>
    <em class="info"><%= l(:proxyauth_uri_info) %></em>
  </p>
  <p id="proxyauth_options_tenant">
    <label><%= l(:proxyauth_tenant_id) %></label>
    <%= text_field_tag 'settings[tenant_id]', @settings[:tenant_id], size: 40 %>
    <em class="info"><%= l(:proxyauth_tenant_id_info) %></em>
  </p>
  <p>
    <label><%= l(:proxyauth_client_id) %></label>
    <%= text_field_tag 'settings[client_id]', @settings[:client_id], size: 40 %>
    <em class="info"><%= l(:proxyauth_client_id_info) %></em>
  </p>
  <p>
    <label><%= l(:proxyauth_client_secret) %></label>
    <%= text_field_tag 'settings[client_secret]', @settings[:client_secret], size: 40 %>
    <em class="info"><%= l(:proxyauth_client_secret_info) %></em>
  </p>
</div>
